
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

    *, *::after, *::before {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Work Sans', sans-serif;   
        font-weight: 400;   
        
    }
    nav a{
        text-decoration: none;
    }
    .text-orenge{
        color: #FF900E;
    }


    .bg-orange {
        background-color: #FF900E;
        color: #fff;
        
    }
    .waight-700,  .waight-700 *{
        font-weight: 700;
    }
    .waight-500, .waight-500 *{
        font-weight: 500;
    }
    .waight-600, .waight-600 *{
        font-weight: 600;
    }
    .title-black{
        color: #131313;
    }
    .flex{
        display: flex;
    }
    .no-wrap{
        white-space: nowrap;;
    }
    .title{
        color: #131313;
        font-size: 45px;
        
    }
    .subtitle{
        color: #727272;
        font-size: 16px;
        
    }

    header{
        background-color: #ff900e1a;
        padding: 45px 240px;

    }
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px 0;
        position: relative;
    }
    nav .logo{
        flex: 1;
    }
    .hidden-in-lg{
        display: none;
    }

    .nav-link a{
        color: #424242;
    }
    nav ul{
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 1;
    }

    .hero{
        /* height: 100vh; */
        margin-top: 100px;
        display: flex;
       flex-direction: column;
       align-items: center;

    }
    .hero-title{
        max-width: 862px;
        text-align: center;
        font-size: 64px;

    }
    .hero-subtitle{
        max-width: 862px;
        text-align: center;
       margin-top: 32px;
       margin-bottom: 32px;
       line-height: 24px;

    }
    .btn-orange{
        padding:20px 25px;
        border-radius: 8px;
        border: none;
        font-weight: 600;
        font-size: 20px;
    }
    .hero-img-container{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
    }
.hero-img-container img{
    display: block;
    width: 100%;
}

/*   <!-- Quick Features --> */
.quick-features, .features{
    margin: 85px 240px  ;
    display: flex;
    gap: 74px;
    align-items: center;
    justify-content: center;
}
.features{
    gap: 64px;
}
.features .title{
    border-left: #FF900E 5px solid;
    padding-left: 21px;
}
.features .featured-item{
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-top: 20px;
    padding: 30px;
}
.features .featured-item h4{
    font-size: 20px;
    padding-bottom: 10px;
}
.features .featured-item p{
   color: #727272;
}
.features .feature-img-container{
    width: 50%;
    position: relative;
}
/*
.features .feature-img-container::before{
   position: absolute;
   background-color: #FF900E;
   content: "10+Year";
   padding: 45px 42px 90px;
   
   left: -50px;
   bottom: -115px;
   display: flex;
   color: #fff;
   font-size: 65px;
   font-weight: 700;
   border-radius: 8px;


}
.features .feature-img-container::after{
   position: absolute;
  
   content: "Experience";
   
   left: 26px;
   bottom: -55px;
   display: flex;
   color: #fff;
   font-size: 35px;

}
*/
.features .feature-img-container img{
    width: 100%;
}
.features .feature-img-container button{
    border-radius: 8px;
    padding: 45px 42px ;
    margin-top: -60%;
    margin-left: -50px;

}
.features .feature-img-container button span{
    font-size: 2vw;
}
.quick-features .img-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    flex: 1

}
.quick-features .img-grid img{
    max-height: 342px;
    max-width: 342px;
}
.quick-features .features-text{
    display: flex;
    flex-direction: column;
    gap: 25px;
    
    flex: 1

}
.text-gray{
    color: #727272;
}

/*   <!-- some fects to shere --> */

.facts, .sponsor{
    margin: 85px 240px;
}
.facts .subtitle{
    max-width: 542px;
    margin: 25px 0;
}

.facts .fects-container, .sponsors-container{
    display: flex;
    padding: 30px 50px;
    justify-content: space-between;
    gap:10px;
    flex-wrap: wrap;
   
    /* justify-content: space-evenly; */
}
.facts .fects-container .fect{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: #FF900E 1px solid;
    border-radius: 8px;
    padding: 47px 36px;
    min-width: 242px;
    min-height: 242px;
    transition:  all 1s ease-out;
   
}
.fect *{
    transition:  all 1s ease-out;


}
.facts .fects-container .fect:hover, .fect:hover *{
    transform: scale(1.1) skew(-3deg) ;

    
   
}

.sponsors-container img{
    
    margin: 25px;
    filter: grayscale(100%);
    transition:  all 1s ease-out;

    /* padding: ; */
}
.sponsors-container img:hover{  
    filter: none;
    transform: scale(1.1);

    /* padding: ; */
}


.quote{
    /* height: 200px; */
    display:flex;
    align-items: center;
    padding: 35px 240px  ;
    background-color: #ff900e1a;
    

}
.quote h2{
    color:#727272
}
.quote button{
    background-color: #f59f00;
    color: #ffffff;
    padding: 10px 35px 12px;
    margin: 20px 50px;
    font-size: 22px;
    border-radius: 999px;
    border: none;
    white-space: nowrap;

}
footer{
     background-color: #ff900e1a;
     padding: 25px;

}
.footer-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer .social{
    display: flex;
    gap: 13px;
    margin: 20px;
}
.copyright{
    margin: 20px auto 5px;
    color: #131313;
    text-align: center;
    
}

    /* subtitle:  #727272 */
    /* title: #131313 */
    /* orange #FF900E */
    /* bacground rgba(255, 144, 14, 0.1); */
    
    
    /* small device */
    @media screen and (max-width: 576px){
        .title{
            font-size: 26px;
        }
        header{           
            padding: 25px 20px;
    
        }
        .facts{
            margin: 25px 20px;
        }
        nav ul li.hidden{
            display: none;
        }
        
        .nav-links:hover .hidden-in-lg{
            display: none;
        }
        nav ul{
            flex-direction: column;
            position: absolute;
            align-items: stretch;
            top: 10px;
            right: 0;
        }
        .nav-links:hover{
             background-color: #FF900E;

         }
       
        .nav-links:hover  li.hidden{
            display: block;
            padding: 5px 10px;
            
              /* position: absolute; */
            /* top: 10px; */
            /* left: 45% */
        }
        .hidden-in-lg{
            display: block;
            background-color: transparent;
        }
        .hero{
            margin-top: 20px;
        }
        .hero-title{
           
            text-align: center;
            font-size: 30px;
    
        }
        .hero-subtitle{
          
            text-align: center;
           margin-top: 18px;
           margin-bottom: 18px;
           
    
        }
        .quick-features .img-grid{
           
            grid-template-columns: repeat(1, 1fr);
           
        
        }
        .quick-features{
            flex-direction: column-reverse; 
            margin: 25px 20px;
        }
        .features .feature-img-container{
            width: 100%;
            
        }
        .features .feature-img-container button{
              
            padding: 10px 42px ;
            margin-top: 10px;
            margin-left: auto;
            margin-right: auto;
        
        }
        .features .feature-img-container button span{
                  
           font-size: 20px;
        
        }
        .facts .fects-container, .sponsors-container{
            justify-content: center;
        }
        .quote{
            align-items: center;
            padding: 35px 20px  ;
        flex-direction: column;

        }
        .quote button{
            font-size: 16px;
        }

    }



/* mediam device  */
@media screen and (min-width: 577px) and (max-width:992px){
    header{
           
        padding: 25px 20px;

    }
    .facts{
        margin: 25px 20px;
    }
  
  
    nav .logo{
        flex: 1;
    }
    nav ul{
        flex: auto;
    }
    .hero-title{
           
        text-align: center;
        font-size: 34px;

    }

    .quick-features{
        flex-direction: column-reverse;
        margin: 25px 20px;
    }
    .quick-features .img-grid img{
        max-height: 250px;
        max-width: 250px;
    }
    .features .feature-img-container button{
              
        padding: 10px 42px ;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
    
    }
    .features .feature-img-container{
        width: 100%;
        position: relative;
    }
    .features .feature-img-container button span{
              
       font-size: 20px;
    
    }
    .facts .fects-container, .sponsors-container{
        justify-content: center;
    }
    .quote{
        align-items: center;
        padding: 35px 20px  ;
        flex-direction: column;
    }
    .quote button{
        font-size: 16px;
    }



} 
/* BORO device */
